@use '../theme';

#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0em;

    > ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li {
            width: 20em;
        }

        > li + li {
            margin-top: 3em;
        }
    }

    a {
        display: block;
        padding: 0.5em 0em;
        color: inherit;
        text-decoration: inherit;

        figure {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            figcaption {
                font-size: 1.5em;
            }

            figcaption + * {
                margin-top: 0.5em;
            }
        }
    }
}
