@keyframes border-black-blink {
    from {
        border-color: black;
    }

    50% {
        border-color: transparent;
    }

    to {
        border-color: black;
    }
}

@keyframes border-black-full {
    from {
        border-color: black;
    }

    to {
        border-color: black;
    }
}
