* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
}

.match-parent {
    width: 100%;
    height: 100%;
}

.layout-stack {
    position: relative;

    &>* {
        position: absolute;
    }
}
