$animations-initial-delay: 2;

:root {
    // Basic styling

    font-size: 2vw;
    font-family: sans-serif;


    // Colors

    --color-background: #e1e4e1;
    --color-background-image: #ffffff90;
    --color-background-text: #000000;
    --color-background-hover: #00000020;
    --color-accent: #8af78a;

    @media (prefers-color-scheme: dark) {
        & {
            --color-background: #000000;
            --color-background-image: #000000a4;
            --color-background-text: #ffffff;
            --color-background-hover: #00000020;
            --color-accent: #8af78a;
        }
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-background-text);
}
