$animations-initial-delay: 2;

// ----------------------------------------------------------------------------------------------------
// Root theme

:root {
    --color-background: #eeeeee;
    --color-text: #292929;
    --color-accent: #8af78a;
    --color-hover: #00000010;
    --color-link: #0000a5;
    --color-link-visited: #5f0085;

    @media (prefers-color-scheme: dark) {
        --color-background: #000000;
        --color-text: #ffffff;
        --color-accent: #8af78a;
        --color-hover: #ffffff30;
        --color-link: #8484ff;
        --color-link-visited: #d15dff;
    }
}


// ----------------------------------------------------------------------------------------------------
// Inherited themes

.card {
    --color-background: #dddddd;
    --color-text: #000000;

    @media (prefers-color-scheme: dark) {
        --color-background: #333333;
        --color-text: #ffffff;
    }
}

.codebox {
    --color-background: #ffffff90;
    --color-text: #000000;

    @media (prefers-color-scheme: dark) {
        --color-background: #000000a4;
        --color-text: #ffffff;
    }
}


// ----------------------------------------------------------------------------------------------------
// Default element styling

:root {
    font-size: 100%;
    font-family: sans-serif;

    @media (min-width: 576px) {
        font-size: 120%;
    }

    @media (min-width: 768px) {
        font-size: 140%;
    }

    @media (min-width: 992px) {
        font-size: 150%;
    }

    @media (min-width: 1200px) {
        font-size: 160%;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-link);

    &:hover, &:focus, &:active {
        background-color: var(--color-hover);
    }

    &:visited {
        color: var(--color-link-visited);
    }
}


// ----------------------------------------------------------------------------------------------------
// Custom element styling

.card {
    background-color: var(--color-background);
    color: var(--color-text);
}

.codebox {
    background-color: var(--color-background);
    color: var(--color-text);
}
