@use "../../node_modules/normalize.css/normalize.css";

@use "theme";

@use "segments/header-io";
@use "segments/main";
@use "segments/footer";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
